<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" >
  <h1>
     {{title}}!
  </h1>
  <img height="500"  src="https://www.imgbase.info/images/safe-wallpapers/anime/anime_scenery/20289_anime_scenery.jpg">
</div>

<div style="text-align:center">
<h2>Enter</h2>
<div >
<input type="text" #userbox (keyup)="onUserInput(userbox.value)"  placeholder="username">
</div>
<div >
  <input type="password" name="password" ng-bind="Password" placeholder="password">
</div>

  <div style="margin:1%">

    <button (click)="signIn()" type="submit">Sign In</button>


    <button type="submit">Create a new Account</button>
  </div>

</div>
